@charset "UTF-8";
/* CSS Document */


@keyframes konkretgroesse {
	from {
		width: 160%;
	}
	
	to {
		width: 40%;
	}
	
	
	
}


@keyframes textdeckkraft {
	
	0% {
		opacity:0;
	}
	
	60% {
		opacity:0.1
	}
	
	100% {
		opacity:1;
	}
}
	

@keyframes asiadeckkraft {
	
	0% {
		opacity:0;
	}
	
	60% {
		opacity:0.1;
	}
	
	100% {
		opacity:1;
	}
}



body {
}



.konkretlogo {
	position:fixed;
left: 0em;
margin-top:15%;
animation-name: konkretgroesse;
animation-duration:3s;
animation-iteration-count:1;
animation-fill-mode:forwards;
z-index:3;

}

figcaption {
	position:fixed;
	text-align:justify;
	margin-top:25%;
	left:0em;
	padding-right:60%;
	font-family:Arial;
	animation-name:textdeckkraft;
	animation-duration:3s;
	animation-iteration-count:1;
	z-index:1;
	
}

.medien {
	margin-top:50%;
	animation-name:asiadeckkraft;
	animation-duration:5s;
	animation-iteration-count:1;


}

.Bild3 {
	margin-bottom:40px;
	width:1000px;
	z-index:2;

}

.trailer {
	width:1000px;
	z-index:2;
}




