#playButton{
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: inline-block;
  position: absolute;
  transform: translate(-50%,-50%);
}

#playButtonImgSmall{
  visibility: hidden;
}

#playButtonImgLarge{
  visibility: visible;
}

#homeButton{
  cursor: pointer;
  position: absolute;
  transform: translate(-50%,-50%);
  color: #BE1321;
  text-decoration: none;
  font-weight: bold;
  font-family: helvetica;
  font-size: 20pt;


}

body{
  margin: 0;
  background-color: #070D0D;
}
